[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "streetor"

[packages]
pandas = "*"
streamlit = "*"
pymongo = {extras = ["srv"], version = "*"}
plotly = "*"
scikit-learn = "*"
extra-streamlit-components = "*"
seaborn = "*"

[dev-packages]
python-dotenv = "*"
pylint = "*"

[requires]
python_version = "3.9"
