div.row-widget.stRadio > div {
    flex-direction:row;
    gap: 40px;
}

@media screen and (max-width: 500px) {
    div.row-widget > div {
        flex-direction: column !important;
        gap: 5px !important;
    }
}